# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always have normalized LF endings
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

# Ensure binary files are never modified
*.png binary
*.jpg binary
*.gif binary
*.exe binary
