# Handle line endings automatically for text files
* text=auto

# Ensure that all markdown files always use LF line endings
*.md text eol=lf

# Handle binary files (no modifications)
*.png binary
*.jpg binary
*.gif binary
