$flexDisplay: flex

.homePage
    display: $flexDisplay
    align-items: center
    justify-content: center
    height: 100vh

    .homePageContainer
        display: $flexDisplay
        align-items: center
        width: 60%
        height: 70%

        .image-wrapper
            opacity: 1
            transition: opacity 1s ease-in-out

            &.fade-out, 
            &.hidden
                opacity: 0

            &.fade-in
                opacity: 1