$flexDisplay: flex

.homePage
    display: $flexDisplay
    align-items: center
    justify-content: center
    height: 100vh

    .homePageContainer
        position: relative
        display: $flexDisplay
        align-items: center
        width: 60%
        height: 70%

        .image-wrapper
            opacity: 0.5
            transition: opacity 1s ease-in-out

            &.fade-out, 
            &.hidden
                opacity: 0

            &.fade-in
                opacity: 0.5

        .headingText
            position: absolute
            display: $flexDisplay
            flex-direction: column
            justify-content: center
            text-align: center
            width: 500px
            left: 0
            right: 0
            margin: 0 auto
            z-index: 999

            &.slogan-enter
                animation: slideInAndOut 4s ease-in-out forwards // Length of animation will be based on the timer of reset cycle

            &.question-enter
                animation: questionAnimation 7.2s ease-in-out forwards

            h1
                background: radial-gradient(circle farthest-corner at center center, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%)
                -webkit-background-clip: text
                background-clip: text
                color: transparent
                font-style: 'italic'
                font-family: 'Playfair Display', serif

@keyframes slideInAndOut
    0% 
        opacity: 0
        transform: translateY(50px)
    30% 
        opacity: 1
        transform: translateY(0)
    70%
        opacity: 1
        transform: translateY(0)
    100%
        opacity: 0
        transform: translateY(-50px)

@keyframes questionAnimation
    0% 
        opacity: 0
        transform: translateY(130px)
    30% 
        opacity: 1
        transform: translateY(0)
    70%
        opacity: 1
        transform: translateY(0)
    100%
        opacity: 0
        transform: translateY(-130px)