.footer
  color: #fff
  padding: 20px
  // text-align: center
  font-family: 'Arial', sans-serif
  border-top: 1px solid #333

  .footer-content
    display: flex
    flex-wrap: wrap
    margin-bottom: 20px

    .footer-section
      flex: 1
      margin: 10px

      h4
        font-size: 1.2rem
        margin-bottom: 10px
        font-weight: bold

      ul
        list-style: none
        padding: 0

        li
          margin: 5px 0

          a
            color: #fff
            text-decoration: none

            &:hover
              text-decoration: underline

    .logo
      img
        height: 60px
        margin-bottom: 10px

    .follow-us
      .social-icons
        display: flex
        // justify-content: center

        a
          color: #fff
          margin-right: 10px
          font-size: 1.5rem

          &:hover
            color: #007bff

  .footer-bottom
    display: flex
    justify-content: center
    padding-top: 10px

    p
      margin: 0
      font-size: 0.9rem
