.Nav {
 display: flex;
 flex-wrap: wrap;   
}

.Nav ul li  {
    display: inline;
    list-style: none;
    margin: 0 20px; 
}

.Nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}