$displayFlex: flex
$flexWrap: wrap
$fontSize: 20px
$borderSize: 0.1vh
$backGroundColor: #0e0d2b
$backgroundButton: linear-gradient(to right,#1B1A55, purple)
$borderColor: #605db0

.Nav
    position: sticky
    top: 0
    border-top: $borderSize solid $borderColor
    border-bottom: $borderSize solid $borderColor
    background: $backGroundColor
    justify-content: center
    z-index: 2

.Nav div .user,
.Nav div .user .user-left,
.Nav div .user .user-right
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-content: center
    border-bottom: $borderSize solid $borderColor

.Nav div .user .user-left,
.Nav div .user .user-right
    border-bottom: none

.Nav div .user .user-left
    display: flex
    align-items: center

.Nav div .user .user-right li button
    background: inherit
    color: inherit
    border: inherit
    font-size: inherit


.Nav div .menu,
.Nav div .menu .menu-left,
.Nav div .menu .menu-right
    display: flex
    flex-wrap: wrap
    margin: 20px 0
    align-content: center

.Nav div .menu .menu-left .menuData
    display: flex
    align-items: center

.Nav div .menu .menu-left .menuData button
    color: inherit
    font-size: 20px
    background-color: transparent
    border: none
    transition: 0.5s

    &:hover
        color: blue

:is(.Nav div .menu .menu-right #demo,.Nav div .menu .menu-right #started) button
    padding: 15px
    color: inherit
    font-size: inherit
    border: none
    background-color: transparent
    border: 1px solid white
    cursor: pointer
    width: 100%
    display: flex
    align-content: center
    justify-content: center
    border-radius: 20px
    width: 150px

.Nav div .menu .menu-right #started button
    background: $backgroundButton

.Nav div .user ul li,
.Nav div .menu ul li
    position: relative
    display: inline
    list-style: none
    margin: 0 20px
    letter-spacing: 1px

    & a
        color: white
        text-decoration: none
        margin: 0 10px
        transition: 0.5s

.Nav div .user ul li a
    font-size: $fontSize - 5px

.Nav div .menu ul li a
    font-size: $fontSize

.Nav div .menu ul li a:hover
    color: blue

.dropdown
    position: absolute
    top: 100%
    background-color: $backGroundColor
    opacity: 0
    transition: opacity 0.5s ease, display 0.5s ease
    display: none
    padding: 0
    z-index: 999

.Nav div .menu .menu-left li ul li
    margin: 20px 0 

.Nav div .menu .menu-left li ul li a
    width: 200px
    padding: 15px

.Nav div .menu .menu-left li ul li a:hover
    color: red
    background: white
    border-radius: 20px
    text-decoration: underline

.dropdown.show
    display: block
    opacity: 1
